<div class="container-fluid"> 
  <div class="row">
<div class="col-md-6">

  <h2> Analysis</h2>


  <h1>{{selectedStock?.ticker}}</h1>
  <a  href={{selectedStock?.link}}>article</a>

  <div>
    <p> {{selectedStock?.expectedEps}}</p> 
    <p> {{selectedStock?.actualEps}}</p> 
    <strong>{{selectedStock?.epsSurprise}}%</strong> 
  </div>

  
  <p>
    <markdown
  [data]="selectedStock.analysis"
  [disableSanitizer]="true">
</markdown>
  </p>



  <div>
    <p>{{selectedStock?.technicalSignals}}</p>
  </div>

  <div>
    <strong>{{selectedStock?.recommendation}}</strong>
  </div>



</div>

<div class="col-md-2">
  <h2>Stocks Analyzed</h2>

  <ul>

    @for (item of stockAnalysis; track item; let  i = $index) {    
      <li>
          <span (click)="getTickerAnalysis(i)">{{item.ticker}}</span>
      </li>
      }

    </ul>
</div>
  

<div class="col-md-4">
  <h2>EPS Announcments today</h2>
  <ul>
  <li  *ngFor="let item of epsAnnouncements"> 
        <span>{{item.name}} [{{ item?.symbol }}</span>
    </li>
  </ul>
</div>


<div class="col-md-4"></div>
  <h2>Find Historical Gainers</h2>
  
  <input #gainerDate type="text">
  <button (click)="getGainers(gainerDate.value)">submit</button>
  
  
  <ul>
  <li  *ngFor="let item of gainers"> 
    
    <span><strong>{{item?.T}}</strong></span>
        <span> price: {{item.c}}</span>  <span style=" color:green"> [{{ percentage(item.o, item.c) }}%]</span> 
    </li>
  </ul>
</div>
</div>
